<div style="border : 1px solid black">
    <h3>Demo1Enfant</h3>

    <p>Nom : @ValeurEnfant.Name</p>
    <p>Email : @ValeurEnfant.Email</p>
    <p>Peut etre le Pwd... On sait pas :@ValeurEnfant.Password</p>

</div>

