@layout DemoLayout
@page "/demo/demo5"


<h3>Demo5</h3>

<button @onclick="ActivateJSAlert">Activate JS Alert</button>

<button @onclick="ActivateJSPrompt">Activate JS Prompt</button>

<button @onclick="SaveOnLocalStorage">Save on LS</button>

<button @onclick="ClearLocalStorage">Clear LS</button>

<button @onclick="AlertLSValue">Alert LS</button>

<p>Data Recuperé : @ValueRecover</p>
